/* Fonts */

/* Swiss 721 */

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Roman.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: italic;
	font-weight: 400;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Italic.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: normal;
	font-weight: 100;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Thin.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: italic;
	font-weight: 100;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Thin Italic.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Light.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: italic;
	font-weight: 300;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Light Italic.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Medium.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: italic;
	font-weight: 600;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Medium Italic.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Bold.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: italic;
	font-weight: 700;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Bold Italic.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Heavy.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: italic;
	font-weight: 800;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Heavy Italic.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Black.woff') format('woff');
}

@font-face {
	font-family: 'Swiss 721';
	font-display: swap;
	font-style: italic;
	font-weight: 900;
	src: url('https://fonts.cdnfonts.com/s/62887/Swiss 721 Black Italic.woff') format('woff');
}

/* .body {
	display: flex;
	
} */
.katex-display {
	color: #DDDDDD;
}

ol {
	/* font-family: hack; */
	/* font-size: 0.98em; */
	font-size: 1.1em;
	font-family: 'Swiss 721', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	color: #DDDDDD;
}

ul {
	/* font-family: hack;
	font-size: 0.94em; */
	font-size: 1.1em;
	font-family: 'Swiss 721', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	color: #DDDDDD;
}

code {
	font-family: Hack, monospace;
}

li>code {
	color: #fe72cb;
	font-size: 0.9em;
	background-color: #222b34d7;
	border-radius: .3em;
	padding: 4px 4px 4px;
	white-space: nowrap;
}

p>code {
	color: #fe72cb;
	font-size: 0.9em;
	background-color: #222b34d7;
	border-radius: .3em;
	padding: 4px 4px 4px;
	white-space: nowrap;
}

pre>code {
	border-radius: 10px;
	font-size: 0.85em;
	overflow-x: scroll;
	scrollbar-width: thin;
	box-shadow: 0px 0px 15px 0px #070707;
	background-color: #0d1117;
	margin-top: 25px;
	margin-bottom: 25px;
}


body {
	margin: auto;
	font-size: 0.9em;
	/* background-color: #1c1d1e; */
}


h1,
h2,
h3 {
	/* font-family: hack; */
	font-family: 'Swiss 721', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #DDDDDD;
}

h1 {
	font-size: 1.7em;
	font-weight: 900;
	/* font-weight: bolder; */
}

h2 {
	font-size: 1.55em;
	font-weight: 700;
	/* background-color: #272e3976; */
	/* border-radius: 0 20px 20px 0; */
	/* border-radius: 10px 0 0 10px; */
	/* border-radius: 10px; */
	border-bottom: 1px solid #4f4f4f;
	line-height: 1.7em;
	/* background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #272e39cb); */
	/* padding-left: 10px; */
	/* box-shadow: 0px 0px 5px 0px #070707; */
}

h3 {
	font-size: 1.4em;
	font-weight: 700;
}

p {
	/* font-family: Hack; */
	/* font-size: 0.95em; */
	font-family: 'Swiss 721', 'Helvetica Neue', Helvetica, sans-serif;
	/* font-family: 'Swiss 721', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	/* font-family: 'Helvetica Neue'; */
	font-size: 1.1em;
	color: #DDDDDD;
	line-height: 1.5em;
	font-weight: 300;
}

a {
	/* font-family: Hack; */
	font-family: 'Swiss 721', 'Helvetica Neue', Helvetica, sans-serif;
	;
	color: #00b8eb;
	text-decoration: none;
}

a:visited {
	color: darken(#00b8eb, 15%);
}

a:hover {
	color: #DDDDDD;
	text-decoration: underline;
}

/* Classes */

.code-line-numbers__number {
	text-align: right;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color: #DDDDDD;
	background-color: #0D1117;
	padding: 3px 10px;
	margin-right: 5px;
}

.code-line-numbers__number__zeros {
	color: transparent;
}

.fancy-text {
	--bg-size: 400%;
	--color-white: hsl(0, 0%, 100%);
	--color-rose: hsl(330, 100%, 75%);
	--color-turquoise: hsl(190, 100%, 75%);
	background: linear-gradient(-45deg,
			var(--color-white),
			var(--color-rose),
			var(--color-turquoise),
			var(--color-white)) 0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: move-bg 30s infinite ease;
}

@keyframes move-bg {
	to {
		background-position: var(--bg-size) 0;
	}
}

table {
	border-collapse: collapse;
	background-color: #10151ddf;
	font-size: 0.9em;
	font-family: hack;
	color: #CCCCCC;
	min-width: 300px;
	box-shadow: 0px 0px 15px 0px #070707;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
}

table thead tr {
	background-color: #272e39cb;
	color: #ffffff;
	text-align: left;
	text-align: center;
	/* border-radius: 10px; */
}

table th,
table td {
	padding: 12px 15px;
	border-radius: 10px;
}




/* Hack */

/* @font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-bold-subset.woff?sha=3114f1256') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-italic-webfont.woff?sha=3114f1256') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/fonts/hack-bolditalic-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-bolditalic-subset.woff?sha=3114f1256') format('woff');
	font-weight: 700;
	font-style: italic;
} */